/*
 * FileName:    $!{tabNameFmt}Service.java
 * Description:
 * Company:     南宁超创信息工程有限公司
 * Copyright:   ChaoChuang (c) 2015
 * History:     $!{curDate} (LLM) 1.0 Create
 */

package $!{package};

import $!{beanPackage}.$!{tabNameFmt};
import cn.com.chaochuang.common.data.service.CrudRestService;

/**
 * @author Shicx
 *
 */
public interface $!{tabNameFmt}Service extends CrudRestService<$!{tabNameFmt}, Long> {


}
